/*
 * Hide RPG elements on task Page and navbar
 */
.boss-button-ext .site-header, 
.boss-button-ext .toolbar-wallet,
.boss-button-ext .rewards {
  display: none;
}

/*
 * Hide small gem icons
 */
.boss-button-ext .inline-gems,
.boss-button-ext [class*="Pet_Currency_Gem"] {
  background-image: none;
}

/*
 * Hide RPG elements on User tabs
 */
.boss-button-ext .customize-menu .customize-option,
.boss-button-ext .achievement {
  background-image: none;
}

/*
 * Hide RPG elements on Social tabs
 */

.boss-button-ext .npc_daniel,
.boss-button-ext .npc_ian {
  background-image: none;
}

.boss-button-ext [class*="quest"],
.boss-button-ext .hero-stats,
.boss-button-ext img[ng-show="group.logo"] {
  display: none;
}
